<div class="container">
  <div class="form-container">
    <h1>Bảng giá các loại xe VINFAST</h1>
    <form
      enctype="multipart/form-data"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <h4>Tỉnh thành</h4>
      <mat-form-field>
        <mat-select formControlName="province">
          <mat-option
            *ngFor="let province of provinces"
            [value]="province.name"
            >{{ province.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <h4>Loại xe</h4>
      <mat-form-field>
        <mat-select formControlName="car" (selectionChange)="update()">
          <mat-option *ngFor="let car of cars" [value]="car">{{
            car.display
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Thông tin khách hàng <i>(không bắt buộc)</i></h4>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Tên khách hàng"
          formControlName="contact"
          value=""
        />
      </mat-form-field>
      <div></div>
      <button color="primary" mat-raised-button>Tìm kiếm</button>
    </form>
  </div>
  <app-recent [$recents]="$recents"></app-recent>
  <a class="recent-link" href="/recents">Các bảng giá thêm gần đây</a>
  <div class="result-container">
    <mat-tab-group *ngIf="result">
      <mat-tab label="Thanh toán toàn bộ">
        <app-result [final]="final()" [car]="this.carName" [percent]="percent" [price]="result"></app-result>
      </mat-tab>
      <mat-tab label="Trả góp">
        <app-borrow [price]="result"></app-borrow>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="gift-btn">
  <p>Quà tặng</p>
</div>
<dialog id="gift-dialog">
  <app-gift></app-gift>
</dialog>
