:host
  width: 100%
  position: absolute
  margin-left:15%
mat-form-field
  width: 100%
.container
  width: 70%
  line-height: 30px
  margin: 3vh 0 0
  padding: 1.5vh 1vh 0.5vh
.result-container
  margin: 1vh 0 0