.icon-area
  padding-top: 1vh
  color: red
  cursor: pointer
.header-line
  font-size: 14px
  color: #333
  padding: 0 0.5vh
  line-height: 27.5px
  background-color: rgba(27, 193, 140, 0.3803921568627451)
.pin-container
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-between
  padding: 0 1vh