tr td:last-child:before
  content: ":"
  padding-right: 15px
.table-result
  border-collapse: collapse
tr
  border-bottom: 1px solid black
.container
  display: flex
  flex-flow: column nowrap
  align-items: center
  padding: 1.5vh 0 1vh
.result-line
  background-color: antiquewhite
.other-area
  width: 100%
  max-width: 500px
  min-width: 275px
mat-form-field
  width: 100%