tr td:last-child
  border-left: 1px solid rgba(0,0,0,0.3)
  text-align: right
  padding: 0.5vh 0
  padding-right: 0.25vh
.table-result
  border-collapse: collapse
td
  width: 200px
.table-result
  border: 1px solid rgba(0,0,0,0.3)
  box-shadow: 2px -3px 1.75px 0.5px #dcdcdc
  margin-top: 1.5vh
td:first-child
  padding-left: 0.25vh
.total-line
  background-color: yellow
.gift-line, .benefit-line
  background-color: rgba(59, 255, 156, 0.6)
.helper
  height: 2vh
  background-color: #f3f3f3
.helper td:last-child
  border-left: unset
.summary-line
  background-color: cornsilk
tr
  border-bottom: 1px solid black
.container
  display: flex
  flex-flow: column nowrap
  align-items: center
  padding: 1.5vh 0 1vh
tr:first-child
  background-color: aliceblue
.img-content
  display: flex
  width: 700px
  height: 400px
  position: relative
.img-content .header-content
  position: absolute
  bottom: 0
  background: rgb(0,0,0)
  background: rgba(0,0,0,0.5)
  color: #f1f1f1
  width: 100%
  text-align: center
.img-content img
  object-fit: cover
  height: 400px
  cursor: pointer
.page-container
  margin-top: 1vh
  padding: 1.5vh 1vh
.page-container, .header-area
  display: flex
  flex-flow: column nowrap
  align-items: center
.page-container
  padding-top: 60px