<div class="gift-container">
  <div class="icon-area">
    <mat-icon class="x-icon">close</mat-icon>
  </div>
  <div class="producer-area">
    <h1 class="gift-line">
      Khuyến mãi khách hàng được nhận từ tổng đại lý (VINFAST)
    </h1>
    <h3 class="caution-line">Thời gian áp dụng: trước 15/02/2020 (khách hàng xuất hoá đơn mua xe trước ngày 15/2)</h3>
    <ul class="gift-list">
      <li>
        Khách hàng thanh toán sớm 100% bằng vốn tự có sẽ được chiết khấu ngay
        13% giá trị xe niêm yết hoặc ưu đãi 0% lãi suất ngân hàng trong 2 năm
        đầu và 10.5% trong 3 năm kế tiếp (thời gian vay là 5 năm).
      </li>
      <li>Gửi xe miễn phí tại mọi trung tâm thương mại Vincom trong 6 giờ.</li>
      <li>Gửi xe miễn phí trong 3 năm tại các khu đô thị Vinhomes.</li>
      <li>Khách hàng được tặng kèm gói bảo hiểm vật chất.</li>
      <li>Nâng cấp thẻ VinID.</li>
    </ul>
  </div>
  <div class="bxp-area">
    <h1 class="gift-line">
      Khuyến mãi khách hàng được nhận từ đại lý phân phối (ANNHOME)
    </h1>
    <h3 class="caution-line">Thời gian áp dụng</h3>
    <!-- <ul class="gift-list">
    </ul> -->
  </div>
</div>
