.gift-list
  list-style: circle
.gift-line
  font-size: 22px
.caution-line
  font-style: italic
  padding: 0 1vh 0
li
  padding: 0 0 0.7vh
.icon-area
  position: absolute
  top: 1vh
  right: 1vh
  cursor: pointer